<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cnaworld.base.domain.teacher.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Teacher_StudentWithTeacherVoResultMap" type="cn.cnaworld.base.domain.student.model.vo.Teacher_StudentWithTeacherVo">
        <id column="teacher_id" property="teacherId" />
        <result column="teacher_name" property="teacherName" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="TeacherWithStudentListVoResultMap" type="cn.cnaworld.base.domain.teacher.model.vo.TeacherWithStudentListVo">
        <id column="teacher_id" property="teacherId" />
        <result column="teacher_name" property="teacherName" />
        <collection  property="studentList"
                     javaType="java.util.List"
                     resultMap="cn.cnaworld.base.domain.student.mapper.StudentMapper.Student_TeacherWithStudentListVoResultMap" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.teacher_id,
        t.teacher_name
    </sql>

    <select id="selectTeacherWithStudentList"  resultMap="TeacherWithStudentListVoResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="cn.cnaworld.base.domain.student.mapper.StudentMapper.Base_Column_List"/>
        from teacher t
        left join student s on t.teacher_id = s.teacher_id
        <if test="teacherId != null and teacherId != ''">
            AND t.teacher_id = #{teacherId}
        </if>
        <if test="teacherName != null and teacherName != ''">
            AND t.teacher_name like concat('%', #{teacherName}, '%')
        </if>
    </select>

</mapper>
